
<div class="error-page-wrap">
		<article class="error-page gradient">
			
			<hgroup>
				<h1>{{status}}</h1>
				<h2>{{message}}</h2>
			</hgroup>
			
			<a href="/" title="Back to site" class="error-back">BACK</a>
		</article>
	</div>